@model IEnumerable<SpacesForChildren.Models.RequestInfo>
@{
    ViewBag.Title = "Index";
}
<h2>Pedidos</h2>
<p>
    @if (User.IsInRole("Pai")) {
        @Html.ActionLink("Fazer Novo Pedido", "Create")
    }
</p>
<table class="table">
    <tr>
        @if (User.IsInRole("Pai") || User.IsInRole("Administrador")) {
            <th>
                @Html.DisplayName("Pai")
            </th>
        }
        @if (User.IsInRole("Instituição") || User.IsInRole("Administrador")) {
            <th>
                @Html.DisplayName("Instituição")
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        @if (User.IsInRole("Instituição")) {
            <th>
                @Html.DisplayNameFor(model => model.IsAnswered)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            @if (User.IsInRole("Pai") || User.IsInRole("Administrador")) {
                <td>
                    @Html.DisplayFor(modelItem => item.Institution.Name)
                </td>
            }
            @if (User.IsInRole("Instituição") || User.IsInRole("Administrador")) {
                <td>
                    @Html.DisplayFor(modelItem => item.Parent.Name)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            @if (User.IsInRole("Instituição")) {
                <td>
                    @Html.DisplayFor(modelItem => item.IsAnswered)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @if (User.IsInRole("Instituição") && !item.IsAnswered) {
                    @Html.ActionLink("Responder", "Edit", new { id = item.Id })
                }
                @if (User.IsInRole("Administrador")) {
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) <span> - </span>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>
