@model IEnumerable<SpacesForChildren.Models.Activity>
@{
    ViewBag.Title = "Index";
}
<h2>Atividades</h2>
@if (User.IsInRole("Instituição")) {
    <p>
        @Html.ActionLink("Criar Atividade", "Create")
    </p>
}
<table class="table">
    <tr>
        @if (!User.IsInRole("Instituição")) {
            <th>
                @Html.DisplayName("Instituição")
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            @if (!User.IsInRole("Instituição")) {
                <td>
                    @Html.DisplayFor(modelItem => item.Institution.Name)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (User.IsInRole("Instituição") || User.IsInRole("Administrador")) {
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) <span> | </span>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>
