@model IEnumerable<SpacesForChildren.Models.Contract>
@{
    ViewBag.Title = "Index";
}
<h2>Contratos</h2>
@if (User.IsInRole("Instituição")) {
    <p>
        @Html.ActionLink("Criar Novo Contrato", "mainCreate")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Criança")
        </th>
        @if (!User.IsInRole("Pai")) {
            <th>
                @Html.DisplayName("Pai")
            </th>
        }
        @*<th>
                @Html.DisplayNameFor(model => model.Review.Title)
            </th>
        *@
        <th>
            @Html.DisplayNameFor(model => model.InitialDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approvation)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Child.Name)
            </td>
            @if (!User.IsInRole("Pai")) {
                <td>
                    @Html.DisplayFor(modelItem => item.Parent.Name)
                </td>
            }
            @*
                <td>
                    @Html.DisplayFor(modelItem => item.Review.Title)
                </td>
            *@
            <td>
                @Html.DisplayFor(modelItem => item.InitialDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approvation)
            </td>
            <td>
                @if (User.IsInRole("Administrador")) {
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                }
                @if (User.IsInRole("Pai") && item.Approvation.Equals("Aguardando Aprovação")) {
                    @Html.ActionLink("Aceitar", "AcceptContract", new { id = item.Id })
                    @Html.ActionLink("Recusar", "RefuseContract", new { id = item.Id })
                }
                @if (User.IsInRole("Administrador")) {
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                }

            </td>
        </tr>
    }
</table>
