@using SpacesForChildren.Models
@model IEnumerable<SpacesForChildren.Models.Contract>
@{
    ViewBag.Title = "Index";
}
<h2>Contratos</h2>
@if (User.IsInRole("Instituição")) {
    <p>
        @Html.ActionLink("Criar Novo Contrato", "CreateContract")
    </p>
}
else if (User.IsInRole("Administrador")) {
    <p>
        @Html.ActionLink("Criar Novo Contrato", "CreateAdmin")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Criança")
        </th>

        @if (!User.IsInRole("Pai")) {
            <th>
                @Html.DisplayName("Pai")
            </th>
        }
        @if (User.IsInRole("Pai")) {
            <th>
                @Html.DisplayName("Instituição")
            </th>
        }
        @*<th>
                @Html.DisplayNameFor(model => model.Review.Title)
            </th>
        *@
        <th>
            @Html.DisplayNameFor(model => model.InitialDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approvation)
        </th>
        <th>
            @Html.DisplayName("Serviço")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Child.Name)
            </td>
            @if (!User.IsInRole("Pai")) {
                <td>
                    @Html.DisplayFor(modelItem => item.Parent.Name)
                </td>
            }
            @if (User.IsInRole("Pai")) {
                <td>
                    @Html.DisplayFor(modelItem => item.Institution.Name)
                </td>
            }
            @*
                <td>
                    @Html.DisplayFor(modelItem => item.Review.Title)
                </td>
            *@
            <td>
                @Html.DisplayFor(modelItem => item.InitialDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approvation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @if (User.IsInRole("Administrador")) {
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                }
                @if (User.IsInRole("Pai") && item.Approvation.Equals(EApprovation.Awaiting)) {
                    @Html.ActionLink("Aceitar", "AcceptContract", new { id = item.Id }) <span> - </span>
                    @Html.ActionLink("Recusar", "RefuseContract", new { id = item.Id })
                }
                @if (User.IsInRole("Pai") && DateTime.Now > item.EndDate && item.Evaluated == false) {
                    @Html.ActionLink("Adicionar Avaliação", "CreateReview","Reviews", new { InstitutionId = item.Institution.Id, ContractId = item.Id },null)
                }
                @if (User.IsInRole("Administrador")) {
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>
